@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
  color-scheme: dark;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-pink-gradient {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #d46d7e -28.47%,
    #e11d48 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-main-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.bg-blue-gradient {
  background: linear-gradient(
    299deg,
    rgba(63, 174, 251, 1) 0%,
    rgba(225, 29, 72, 1) 100%
  );
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.perspective-1000 {
  perspective: 1000px;
}
